<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NFT Key</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link type="text/css" rel="stylesheet" href="./styles.css" />
    <link rel="preload" href="/locked-min.jpeg" as="image" />
    <link rel="preload" href="/unlocked-min.jpeg" as="image" />
  </head>

  <body>
    <header>
      <h1>NFT Key</h1>
    </header>
    <main class="locked">
      <section class="hero">
        <h1>There was an error</h1>
        <p>{{.Error}}</p>
        </nav>
      </section>
    </main>
    <footer>
      <span>Copyright © 2021 NFT Key</span>
      <a href="mailto:contact@reliablestaking.com">Contact Us</a>
    </footer>
  </body>
</html>
